/* :root {
    --blue: #4f8586;
    --orange: #f1953b;
    --border: #e5e7eb;
    --text: #374151;
    --banner-background: #fef3df;
} */

:root {
    --blue: #4f8586;
    --orange: #f1953b;
    --border: #e5e7eb;
    --text: #374151;
    --banner-background: white;
}



.contact-info {
    display: flex;
    align-items: center;
    gap: 50px;
    width: fit-content;
    margin: auto auto;

    a {
        color: var(--blue);
        font-family: "Oswald", sans-serif;
        font-size: 1.5em;
    }

    a:hover {
        color: var(--orange);
    }
}



.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: var(--blue);
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    gap: 100px;
}

.nav-links a {
    /* color: rgb(113, 116, 115); */
    color: black;
    font-size: 1.5rem;
    font: bold;
    font-family: "Oswald", sans-serif;
}

.nav-links a:hover {
    color: var(--orange);
    text-decoration: underline;
}

.banner-img {
    display: flex;
    margin: auto auto;
    width: 50%;
    /* margin-left: auto; */
    /* margin-right: auto; */
}

.logo-banner-area {
    background-color: var(--banner-background);
}

#header-txt {
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 29px;
}

#logo {
    display: block;
    inline-size: 25%;
    /* align-items: center; */
    margin-left: auto;
    margin-right: auto;
}

iframe {
    display: block;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.bottom-div {
    margin: 0 auto;
}

#address-txt {
    text-align: center;
}