.tiles {
    display: flex;
    gap: 24px;

    flex-wrap: wrap;
}

.tile {
    position: relative;
    flex: 0 0 calc((100% - 48px) / 3);
    height: 420px;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.4s ease;
    outline: 5px solid var(--border);
}

.tile img {
    width: 100%;
    height: 100%;
    scale: 0.;
    /* object-fit: cover; */

}

.tile .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    transition: background 0.4s ease;
}

/* TEXT */
.tile h2,
.tile p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    z-index: 2;
}

.tile h2 {
    top: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 4px;
}

.tile p {
    top: 60%;
    width: 70%;
    opacity: 0;
    transition: opacity 0.4s ease;
}

/* HOVER (middle tile look) */
.tile:hover {
    transform: scale(1.06);
    color: black;
    outline: 5px solid var(--orange);
}

.tile:hover .overlay {
    background: rgba(0, 0, 0, 0.25);
}

.tile:hover p {
    opacity: 1;
    color: black;
    /* color: var(--orange); */
    /* outline: solid black; */
    outline-width: 10px;
    stroke: 10px solid red;
}

.tile:hover h2 {
    color: var(--orange);
}



/* .tiles {
    display: flex;
    flex-wrap: wrap;
}

*,
::before,
::after {
    box-sizing: inherit;
}


@media screen and (max-width: 1280px) {
    .tiles article {
        width: calc(33.33333% - 1.25em);
        margin: 1.25em 0 0 1.25em;
    }
} */