body {
    background-color: var(--banner-background);
}

.welcome {
    position: relative;
    /* height: 100vh; */
    overflow: hidden;
}

.staff-info {
    margin: 0 auto;
    font-size: 18px;
}

@media screen and (max-width: 1500px) {
    .welcome video {
        position: absolute;
        inset: 0;
        width: 100%;
        /* height: 100%; */
        object-fit: cover;
    }

    .welcome .overlay {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.45);
    }

    .welcome-text {
        position: relative;
        font-size: 24px;
        /* z-index: 2; */
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
    }
}

@media screen and (min-width: 1501px) {
    .welcome video {
        position: absolute;
        inset: 1;
        width: 100%;
        height: 102%;
        overflow: hidden;
        object-fit: cover;
        /* transform: scale(0.9); */
    }

    .welcome .overlay {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.45);
        height: 100%;
    }

    .welcome-text {
        position: relative;
        font-size: 24px;
        z-index: 2;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
    }
}



.divider {
    font-size: 2em;
    display: inline-block;
    background-color: var(--blue);
    color: white;
    width: 100%;
    text-align: center;
}


table {
    border: 2px solid red;
}

tr,
td {
    border: 2px solid blue;
}



.staff-member-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35vh;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--border);
    box-shadow: 0 4px 8px black;
}